body {
    overflow: auto;
}

h1, h2, h4 {
    font-family: 'Red Rose';
}

h3 {
    font-family: 'roboto';
}


.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.backgroundTexture {
    background-image: url(../img/clouds.jpg);
}


/* Loading Spinner */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#Loading {
    display: none;
    width: 100px;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%)
}


.title {
    position: fixed;
    top: 0px;
    width: 100vw;
    
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding-left: 25px;
    padding-top: 0px;
    max-height: 100vh;
    height: 8.5vh;
    transition: all 0.6s;
    color: white;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0.3);
    
    z-index: 1;
}

.title--splashscreen {
    height: 100vh;
    max-height: 75vh;
    padding-top: 25vh;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0);
}

.title__mainTitle {
    font-size: 5vh;
    transition: all 0.6s;
    padding-top:7px;
}

.title__mainTitle--splashscreen {
    font-size: 10vw;
}

.title__subtitle {
    font-size: 5.5vw;
    margin-top: -10px;
    visibility: hidden;
    transition: all 0.25s;
    opacity: 0;
}

.title__subtitle--splashscreen {
    font-size: 5.5vw;
    visibility: visible;
    opacity: 1;
}

.navBox {
    text-align: center;
    font-size: 1.25em;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    width: 100vw;
    height: 12vh;
    bottom: 0px;
    max-height: 100vh;
    transition: all 0.6s;
    color: white;
    box-shadow: inset 0px 15px 10px -10px rgba(0,0,0,0.3);
    z-index: 1;
}

.warningBox--splashscreen {
    height: 25vh;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0);
}

.navBox p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    max-width: 700px;
    margin: auto;
    display: none;
}

.navbar small {
    color: white;
    font-size: 2vh;
    font-family: "Red Rose";
}

.navbar img {
    max-height: 4vh;
    opacity: 0.75;
}

.nav-item {
    width: 33%;
}

.nav-item:nth-child(2) {
    border-left: 3px solid rgba(255,255,255,0.25);
    border-right: 3px solid rgba(255,255,255,0.25);
}

.warningBox__warning {
    color: yellow;
}


#locationSetup {
    display: none;
}


.formLocation {
    color: white;
    font-family: "Roboto";
    text-align: center;
    margin: auto;
    margin-top: 20vh;
}

#txtLocation {
    width: 500px;
    max-width: 75vw;
    height: 2em;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    border: 0px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255,255,255,0.25);
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);
    color: white;
}

#btnLocation {
    padding: 5px;
    margin: 0px;
    height: 2em;
    width: 3em;
    border: 0px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgba(255,255,255,0.75);
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(255,255,255,0.5);
    color: black;
    display: inline-block;
    cursor: pointer;
}

#btnLocation:hover {
    background-color: rgba(255,255,255,0.65);
}

#btnLocation:focus {
    outline: none;
    background-color: rgba(255,255,255,0.65);
    box-shadow: inset 0px 5px 7px rgba(0,0,0,0.25);
}

#btnMyLocation {
    text-align: center;
    width: 400px;
    max-width: 75vw;
    margin: auto;
    height: 4em;
    margin-top: 20vh;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(255,255,255,0.5);
    cursor: pointer;
}

#btnMyLocation p {
    font-family: "roboto";
    font-weight: bold;
    line-height: 4em;
}

#btnMyLocation:hover {
    background-color: rgba(255,255,255,0.65);
}

#btnMyLocation:active {
    outline: none;
    background-color: rgba(255,255,255,0.65);
    box-shadow: inset 0px 5px 7px rgba(0,0,0,0.25);
}

#StationList {
    display: none;
    margin-top: calc(8.5vh + 25px);
    margin-bottom: 150px;
}


.stationCard {
    height: auto;
    max-width: 700px;
    margin: auto;
    margin-top: 25px;
    background-color: rgba(255,255,255,0.05);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    color: white;
    font-family: "roboto";
    font-size: 1.25em;
}

.stationCard__main {
    height: 6rem;
    background-color: rgba(255,255,255,0.1);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 15px;
    padding-left: 25px;
    position: relative;
}

.stationCard__freq {
    margin: 0px;
}

.stationCard__callsign {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 4.5rem;
    font-weight: bold;
    color: rgba(0,0,0,0.25);
    z-index: -1;
}

.stationCard__info {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    background-color: rgba(255,255,255,0.25);
    box-shadow: inset -2px -2px 10px rgba(0,0,0,0.25), inset 2px 2px 10px rgba(255,255,255,0.17);
    text-align: center;
    line-height: 3.5rem;
    cursor: pointer;    
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.25s;
}

.stationCard__info--active {
    transform: translateY(-50%) rotate(0deg);
}

.stationCard__details {
    font-size: 1em;
    padding: 15px;
    padding-left: 25px;
    visibility: 
}