body {
    overflow: auto;
}

h1, h2, h4 {
    font-family: 'Red Rose';
}

h3 {
    font-family: 'roboto';
}


hr {
    border-color: rgba(255,255,255,0.05);
}


.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.backgroundTexture {
    background-image: url(../img/clouds.jpg);
}


/* Loading Spinner */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#Loading {
    display: none;
    width: 100px;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%)
}


.title {
    position: fixed;
    top: 0px;
    width: 100vw;
    
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding-left: 25px;
    padding-top: 0px;
    max-height: 100vh;
    height: 8.5vh;
    transition: all 0.6s;
    color: white;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0.3);
    
    z-index: 2;
}

.title--splashscreen {
    height: 100vh;
    max-height: 75vh;
    padding-top: 25vh;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0);
}

.title__mainTitle {
    font-size: 4vh;
    transition: all 0.6s;
    padding-top:7px;
}

.title__mainTitle--splashscreen {
    font-size: 10vw;
}

.title__subtitle {
    font-size: 5.5vw;
    margin-top: -10px;
    visibility: hidden;
    transition: all 0.25s;
    opacity: 0;
}

.title__subtitle--splashscreen {
    font-size: 5.5vw;
    visibility: visible;
    opacity: 1;
}

.navBox {
    text-align: center;
    font-size: 1.25em;
    background-color: rgba(0,0,0,0.95);
    position: fixed;
    width: 100vw;
    height: 12vh;
    bottom: 0px;
    max-height: 100vh;
    transition: all 0.6s;
    color: white;
    box-shadow: inset 0px 15px 10px -10px rgba(0,0,0,0.3);
    z-index: 3;
}

.warningBox--splashscreen {
    height: 25vh;
    box-shadow: inset 0px -15px 10px -10px rgba(0,0,0,0);
}

.navBox p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    max-width: 700px;
    margin: auto;
    display: none;
}

.navbar small {
    color: white;
    font-size: 2vh;
    font-family: "Red Rose";
}

.navbar img {
    max-height: 4vh;
    opacity: 0.75;
}

.nav-item {
    width: 33%;
}

.nav-item:nth-child(2) {
    border-left: 3px solid rgba(255,255,255,0.25);
    border-right: 3px solid rgba(255,255,255,0.25);
}

.warningBox__warning {
    color: yellow;
}


#locationSetup {
    display: none;
    margin-bottom: 15vh;
}


.formLocation {
    color: white;
    font-family: "Roboto";
    text-align: center;
    margin: auto;
    margin-top: 15vh;    
}

#txtLocation {
    width: 500px;
    max-width: 75vw;
    height: 2em;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    border: 0px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255,255,255,0.25);
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);
    color: white;
}

#btnLocation {
    padding: 5px;
    margin: 0px;
    height: 2em;
    width: 3em;
    border: 0px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgba(255,255,255,0.75);
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(255,255,255,0.5);
    color: black;
    display: inline-block;
    cursor: pointer;
}

#btnLocation:hover {
    background-color: rgba(255,255,255,0.65);
}

#btnLocation:focus {
    outline: none;
    background-color: rgba(255,255,255,0.65);
    box-shadow: inset 0px 5px 7px rgba(0,0,0,0.25);
}

#btnMyLocation {
    text-align: center;
    width: 400px;
    max-width: 75vw;
    margin: auto;
    height: 4em;
    margin-top: 20vh;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: inset -5px -5px 10px rgba(0,0,0,0.25), inset 5px 5px 10px rgba(255,255,255,0.5);
    cursor: pointer;
}

#btnMyLocation p {
    font-family: "roboto";
    font-weight: bold;
    line-height: 4em;
}

#btnMyLocation:hover {
    background-color: rgba(255,255,255,0.65);
}

#btnMyLocation:active {
    outline: none;
    background-color: rgba(255,255,255,0.65);
    box-shadow: inset 0px 5px 7px rgba(0,0,0,0.25);
}

#CurrentLocation {
    display: none;
}

.currentLocation {
    margin: auto;
    margin-top: calc(8.5vh + 25px);
    color: rgba(0,0,0,0.5);
    text-align: center;
    font-variant: small-caps;
}

.currentLocation--white {
    color: white;
    font-variant: unset;
}


#StationList {
    display: none;
    margin-bottom: 150px;
}


.stationCard {
    height: auto;
    max-width: 700px;
    margin: auto;
    margin-top: 25px;
    background-color: rgba(255,255,255,0.05);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    color: white;
    font-family: "roboto";
    font-size: 1.25em;
}

.stationCard__main {
    min-height: 6rem;
    background-color: rgba(255,255,255,0.1);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 15px;
    padding-left: 25px;
    position: relative;
}

.stationCard__freq {
    margin: 0px;
    max-width: 60%;
}

.stationCard__format {
    max-width: 60%;
    color: #c7c7c7;
}

.stationCard__callsign {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 4.5rem;
    font-weight: bold;
    color: rgba(0,0,0,0.25);
    z-index: -1;
}

.stationCard__info {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    background-color: rgba(255,255,255,0.25);
    box-shadow: inset -2px -2px 10px rgba(0,0,0,0.25), inset 2px 2px 10px rgba(255,255,255,0.17);
    text-align: center;
    line-height: 3.5rem;
    cursor: pointer;    
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.25s;
}

.stationCard__info--active {
    transform: translateY(-50%) rotate(0deg);
}

.stationCard__details {
    font-size: 1em;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.detailsHeading {
    font-size: 0.75em;
    font-family: 'Red Rose';
    color: rgba(255,255,255,0.75);
    font-variant: small-caps;
    letter-spacing: 2.75px;
}

.detailsInfo {
    margin-left: 10px;
}

.stationCard__logoHolder {
    text-align: center;
    position: relative;
    margin: auto;
}

.stationCard__logo {
    position: relative;
    top: 0px;
    margin: 15px;
    max-width: 150px;
    opacity: 0%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
}

.stationCard__logo--blurred {
    position: absolute;
    max-width: 150px;
    filter: blur(25px);
    opacity: 0%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
}

.stationCard__detailsList {
    opacity: 0%;
    transition: all 0.5s;
    font-size: 1rem;    
    padding-left: 15px;
    padding-right: 15px;
}

.stationCard__detailsList p {
    margin-bottom: 0px;
}

.stationCard_btnMapHolder {
    text-align: center;
    margin: 15px;
}

.stationCard__btnMap {
    background-color: rgba(255,255,255,0.15);
    color: white;
    font-variant: all-small-caps;
    border-bottom-right-radius: 15px;
    border: 0px;
    box-shadow: inset -5px -5px 5px rgba(255,255,255,0.1), inset 5px 5px 10px rgba(0,0,0,0.2);
}

.filterModal__content, .mapModal__content {
    background-color: rgba(0,0,0,0);
}

.filterModal__header, .mapModal__header {
    background-color: rgba(0,0,0,0.75);
    border-bottom: none;
}

.filterModal__footer, .mapModal__footer {
    background-color: rgba(0,0,0,0.75);
    border-top: none;
}

.filterModal__body, .mapModal__body {
    background-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.75);
}

.filterModal__title, .mapModal__title {
    color: white
}

.filterList__item, .modalBtn {
    background-color: rgba(0,0,0,0.8);
    box-shadow: inset -2px -2px 10px rgba(0,0,0,0.25), inset 2px 2px 10px rgba(255,255,255,0.17);
    text-align: center;
    font-family: 'roboto';
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-width: 0px;
    padding: 15px;
    padding-left: 25px;
}

.filterList__item:hover {
    background-color: rgba(0,0,0,0.25);
}

.filterList__pill {
    background-color: rgba(255,255,255,0.25);
    color: black;
}

#map {
    width: 100%;
    height: 50vh;
    display: none;
}

.mapModal__body {
    padding: 0px;
    position: relative;
}

#MapLoading {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50vh;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}

.mapModal__LoadingIcon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.legend__item {
    height: 1.5em;
    width: 2em;
}

/*
.legend__transmitter {
    background-color: white;
}
*/

.legend__img {
    max-height: 1.5em;
}

.legend__serviceContour {
    background-color: rgba(53, 220, 53, 0.5);
    border: 3px solid rgba(53, 220, 53, 1);
}

.legend__estimatedRange {
    background-color: rgba(251, 253, 107, 0.5);
    border: 3px solid rgba(251, 253, 107, 1);
}

.legend-control-container {
    background-color: rgba(0,0,0,0.9);
    padding: 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    border: 1px solid rgba(0,0,0,0.5);
    min-width: 90px;
    font-family: 'Oswald', sans-serif;
}

.legend-control-container hr {
    margin-top: 10px;
    margin-bottom: 0px
}

.legend-text {
    font-size: 0.65rem;
    
}

#collapse {
    cursor: pointer;
}

#btnCollapse {
    position: absolute;
    top: 10px;
    right: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.legend-hide {
    display: none;
}


// Map Zoom Buttons
.leaflet-control-zoom {
    background-color: transparent;
}

html body .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in, html body .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out {
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.75);
}